<h1>Listing purposes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purposes.each do |purpose| %>
      <tr>
        <td><%= purpose.description %></td>
        <td><%= link_to 'Show', purpose %></td>
        <td><%= link_to 'Edit', edit_purpose_path(purpose) %></td>
        <td><%= link_to 'Destroy', purpose, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purpose', new_purpose_path %>
