<%= form_for(@realty) do |f| %>
  <% if @realty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@realty.errors.count, "error") %> prohibited this realty from being saved:</h2>

      <ul>
      <% @realty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :realty_type_id %><br>
    <%= f.collection_select(:realty_type_id, RealtyType.all, :id, :description, {:include_blank => 'realty type'}) %>
  </div>
  <div class="field">
    <%= f.label :purpose_id %><br>
    <%= f.collection_select(:purpose_id, Purpose.all, :id, :description, {:include_blank => 'purpose'}) %>
  </div>
  	
  <%= f.fields_for :address do |a| %>
  	<div class="field">
		<%= a.label :street %><br>
		<%= a.text_field :street %>
	</div>
	<div class="field">
		<%= f.label :number %><br>
		<%= f.text_field :number %>
	</div>
	<div class="field">
		<%= f.label :complement %><br>
		<%= f.text_field :complement %>
	</div>
	<%= a.fields_for :neighborhood do |n| %>
		<div class="field">
			<%= n.label :description, "Neighborhood" %><br>
			<%= n.text_field :description %>
		</div>
		<%= n.fields_for :city do |c| %>
			<div class="field">
				<%= c.label :description, "City" %><br>
				<%= c.text_field :description %>
			</div>
			<%= c.fields_for :state do |s| %>
				<div class="field">
					<%= s.label :description, "State" %><br>
					<%= s.text_field :description %>
				</div>    
			<% end %>    
		<% end %>    
	<% end %>
  <% end %>
    
  <div class="field">
    <%= f.label :short_description %><br>
    <%= f.text_field :short_description %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :bedrooms %><br>
    <%= f.number_field :bedrooms %>
  </div>
  <div class="field">
    <%= f.label :util_area %><br>
    <%= f.number_field :util_area %>
  </div>
  <div class="field">
    <%= f.label :total_area %><br>
    <%= f.number_field :total_area %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :condominium %><br>
    <%= f.text_field :condominium %>
  </div>
  <div class="field">
    <%= f.label :bathrooms %><br>
    <%= f.number_field :bathrooms %>
  </div>
  <div class="field">
    <%= f.label :garage %><br>
    <%= f.number_field :garage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
