<h1>Listing realties</h1>

<table>
  <thead>
    <tr>
      <th>Realty type</th>
      <th>Purpose</th>
      <th>Address</th>
      <th>Number</th>
      <th>Complement</th>
      <th>Short description</th>
      <th>Description</th>
      <th>Bedrooms</th>
      <th>Util area</th>
      <th>Total area</th>
      <th>Value</th>
      <th>Condominium</th>
      <th>Bathrooms</th>
      <th>Garage</th>
      <th>Realstate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realties.each do |realty| %>
      <tr>
        <td><%= realty.realty_type.description if realty.realty_type %></td>
        <td><%= realty.purpose.description if realty.purpose %></td>
        <td><%= realty.address.street %></td>
        <td><%= realty.number %></td>
        <td><%= realty.complement %></td>
        <td><%= realty.short_description %></td>
        <td><%= realty.description %></td>
        <td><%= realty.bedrooms %></td>
        <td><%= realty.util_area %></td>
        <td><%= realty.total_area %></td>
        <td><%= realty.value %></td>
        <td><%= realty.condominium %></td>
        <td><%= realty.bathrooms %></td>
        <td><%= realty.garage %></td>
        <td><%= realty.realstate_id %></td>
        <td><%= link_to 'Show', realty %></td>
        <td><%= link_to 'Edit', edit_realty_path(realty) %></td>
        <td><%= link_to 'Destroy', realty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Realty', new_realty_path %>
