<p id="notice"><%= notice %></p>

<p>
  <strong>Realty type:</strong>
  <%= @realty.realty_type.description if @realty.realty_type %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @realty.purpose.description if @realty.purpose %>
</p>

<p>
  <strong>Address:</strong>
  <%= @realty.address.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @realty.number %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @realty.complement %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @realty.short_description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @realty.description %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @realty.bedrooms %>
</p>

<p>
  <strong>Util area:</strong>
  <%= @realty.util_area %>
</p>

<p>
  <strong>Total area:</strong>
  <%= @realty.total_area %>
</p>

<p>
  <strong>Value:</strong>
  <%= @realty.value %>
</p>

<p>
  <strong>Condominium:</strong>
  <%= @realty.condominium %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @realty.bathrooms %>
</p>

<p>
  <strong>Garage:</strong>
  <%= @realty.garage %>
</p>

<%= link_to 'Edit', edit_realty_path(@realty) %> |
<%= link_to 'Back', realties_path %>
