<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @state.description %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @state.acronym %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
