<%= form_for(@realty_type) do |f| %>
  <% if @realty_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@realty_type.errors.count, "error") %> prohibited this realty_type from being saved:</h2>

      <ul>
      <% @realty_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
