<h1>Listing realty_types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realty_types.each do |realty_type| %>
      <tr>
        <td><%= realty_type.description %></td>
        <td><%= link_to 'Show', realty_type %></td>
        <td><%= link_to 'Edit', edit_realty_type_path(realty_type) %></td>
        <td><%= link_to 'Destroy', realty_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Realty type', new_realty_type_path %>
