<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @realty_type.description %>
</p>

<%= link_to 'Edit', edit_realty_type_path(@realty_type) %> |
<%= link_to 'Back', realty_types_path %>
