<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @city.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @city.state %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
