<!DOCTYPE html>
<html>
	<head>
		<title>Locativus</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div style='width: 1000px; margin: auto;'>
			<div>
				<%= link_to 'Home', root_path + "admin/index"%>
				<% if admin_signed_in? -%>
					<%= link_to "RealtyTypes", realty_types_path %>
					<%= link_to "Purpouses", purposes_path %>
					<%= link_to "States", states_path %>
				<% end -%>
				<div id="admin_login_box" style="float:right">
					<% if admin_signed_in? %>
					<%= current_admin.email %> |
					<%= link_to 'Sign out', destroy_admin_session_path, method: :delete %>
					<% end %>
					<% if !admin_signed_in? && controller_name != 'sessions' && controller_name != 'registrations' && controller_name != 'confirmations' && controller_name != 'passwords'%>
					<%= link_to 'Sign in', new_admin_session_path %></p>
					<% end %>
				</div>
				<div style="clear:both"></div>
			</div>
			<p class="notice">
				<%= notice %>
			</p>
			<p class="alert">
				<%= alert %>
			</p>
			<%= yield %>
		</div>
	</body>
</html>