<!DOCTYPE html>
<html>
	<head>
		<title>Locativus</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div style='width: 1000px; margin: auto;'>
			<div>
				<%= link_to 'Home', root_path %>
				<div id="user_login_box" style="float:right">
					<% if user_signed_in? -%>
					<%= link_to current_user.email, edit_user_registration_path %> |
					<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
					<% end -%>
					<%- if !user_signed_in? && controller_name != 'sessions' && controller_name != 'registrations' && controller_name != 'confirmations' && controller_name != 'passwords'%>
					<%= link_to 'Sign up', new_user_registration_path %>
					<% end -%>
				</div>
				<div style="clear:both"></div>
			</div>
			<p class="notice">
				<%= notice %>
			</p>
			<p class="alert">
				<%= alert %>
			</p>
			Request: <%= request.subdomains %> Tenant: <%= current_tenant ? current_tenant.host : "" %>
			<%= yield %>
		</div>
	</body>
</html>
