<!DOCTYPE html>
<html>
	<head>
		<title><%= current_tenant.host %></title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div style='width: 1000px; margin: auto;'>
			<div>
				<%= link_to 'Home', root_path %>
				<% if user_signed_in? -%>
					<%= link_to "Dashboard", "/user/index" %>
				<% end -%>
				<% if user_signed_in? -%>
					<%= link_to "Realties", realties_path %>
				<% end -%>	
				<div id="user_login_box" style="float:right">
					<% if user_signed_in? -%>
					<%= link_to current_user.email, edit_user_registration_path %> |
					<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
					<% end -%>				
				</div>
				<div style="clear:both"></div>
			</div>
			<p class="notice">
				<%= notice %>
			</p>
			<p class="alert">
				<%= alert %>
			</p>
			Request: <%= request.subdomains %> Tenant: <%= current_tenant ? current_tenant.host : "" %>
			<%= yield %>
		</div>
	</body>
</html>
